*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cv_cont{
    margin: auto;
    display: block;
    width: 210mm;
    height: 297mm;
    #personal_info{
        margin: 10px;
        border-radius: 15px;
        #info_cont{
            flex: 1;
            .border-2{
                border-radius: 5px!important;
                padding: 10px 0px;
            }
            .sub_info_cont{
                color: var(--bs-light);
                svg{
                    vertical-align: -3px!important;
                    fill: var(--bs-light);
                }
            }
        }
    }
    #img_cont{
        img{
            width: 200px;
            border: 3px var(--bs-light) solid;
            border-radius: 50%;
        }
    }
    .label{
        font-weight: bold;
        color: var(#184b83);
    }
    .info_value{
        a{
            text-decoration: none;
            color: var(--bs-light);
        }
        color: #fff;
    }
}
#school_cont{
    .edu_cont{
        padding-bottom: 20px;
    }
}
.skills_cont{
    ol{
        display: flex;
        li{
            flex: 1;
        }
    }
    .lable-cont{
        border-radius: 5px;
    }
}
.bg-main{
    background-color: #184b83;
}
.text-highlight{
    color: #184b83;
}