@media screen and (max-width: 790px) {
  .nav-active {
    height: 50px !important;
  }
  #navbar #navbar_header #nav-header-txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar #navbar_menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    top: 100px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #navbar .active > #hamberger_mark {
    width: 0px !important;
  }
  #navbar .active > #hamberger_mark::after {
    -webkit-transform: translateY(0px) rotate(45deg) !important;
            transform: translateY(0px) rotate(45deg) !important;
  }
  #navbar .active > #hamberger_mark::before {
    -webkit-transform: translateY(0px) rotate(-45deg) !important;
            transform: translateY(0px) rotate(-45deg) !important;
  }
  #navbar #hamberger {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 0px #000 solid;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: #fff;
    margin-right: 20px;
  }
  #navbar #hamberger #hamberger_mark {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin: auto;
  }
  #navbar #hamberger #hamberger_mark::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    top: calc(50% - 3px);
    left: calc(50% - 30px/2);
    background-color: #000;
    -webkit-transform: rotate(0deg) translateY(12px);
            transform: rotate(0deg) translateY(12px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #navbar #hamberger #hamberger_mark::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    top: calc(50% - 3px);
    left: calc(50% - 30px/2);
    background-color: #000;
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

#hamberger {
  display: none;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 1;
}

#navbar a {
  text-decoration: none;
  color: #000;
}

#navbar-menu a {
  overflow: hidden;
}

#navbar_header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto 0px;
}

#navbar_header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

#navbar_header a #nav-header-txt {
  margin: auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar_header a img {
  width: 50px;
  height: auto;
  margin: auto 0px;
  margin-right: 15px !important;
}

#navbar_header a .header1 {
  font-size: 1rem;
  font-weight: bolder;
  margin: auto;
}

#navbar_header a .header2 {
  font-size: 0.7rem;
  font-weight: lighter;
  margin: auto;
  text-transform: uppercase;
  color: #3a2721;
}

#navbar_menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto 0px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#navbar_menu a {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 10px;
  color: #3a2721;
  padding: 5px;
}

#navbar_menu a:hover {
  color: #219dfc;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/*# sourceMappingURL=navbar.css.map */