#resume_body{
    background-color: #e6dace;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    #resume_cont{
        .btn-cont{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 700px;
            .btn{
                width: fit-content;
                border-radius: 20px;
                font-weight: bolder;
            }
            .btn:nth-child(2){
                margin-right: 0%;
                margin-left: auto;
            }
        }
        margin: auto;
        width: 700px;
        .resume_label{
            padding: 50px 20px;
        }
        .resume_card{
            padding: 30px;
            .resume_card_cont{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .cont1{
                    .list_elem{
                        li{
                            list-style-type: none;
                            position: relative;
                            padding-left: 15px;
                        }
                        li:before{
                            content: "";
                            display: block;
                            height: 10px;
                            width: 10px;
                            position: absolute;
                            left: -5px;
                            top: calc(50% - 5px);
                            background: var(--bs-primary);
                        }
                    }
                }
                .cont2{
                    padding-left: 20px;
                }
                .sclName{
                    text-transform: uppercase;
                    font-size: 18px;
                }
                .degreeName{
                    font-size: 15px;
                }
                .sclLocation{
                    padding-top: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}